{
	"env": {
		"browser": true
	},
	"rules": {
		"indent": [
			2,
			"tab"
		],
		"no-tabs": 0,
		"import/extensions": [
			"error",
			"always",
			{
				"ignorePackages": true
			}
		],
		"react/prop-types": "off"
	}
}