{
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"indent": [
			2,
			"tab"
		],
		"no-tabs": 0,
		"react/jsx-indent": [
			2,
			"tab"
		],
		"react/jsx-indent-props": [
			2,
			"tab"
		],
		"import/extensions": [
			"error",
			"always",
			{
				"ignorePackages": true
			}
		],
		"react/prop-types": 0
	}
}